#[macro_use]
extern crate serde_derive;

{{#hyper}}
extern crate hyper;
extern crate futures;
{{/hyper}}
{{#reqwest}}
extern crate reqwest;
{{/reqwest}}
extern crate serde;
extern crate serde_json;
extern crate url;

#[rustfmt::skip]
#[allow(clippy::redundant_clone)]
#[allow(clippy::too_many_arguments)]
pub mod apis;
#[rustfmt::skip]
#[allow(clippy::too_many_arguments)]
#[allow(non_snake_case)]
pub mod models;
